{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" href={% static "CSS/styles.css" %}>

{% block content %}
<br>

<h1 >WELCOME TO OUR COFFEE BEANS SHOP</h1>
<h1>WE SELL Coffee BEANS</h1>




<footer>
    <ul>
        <li>
            <h4>OPENNING HOURS</h4>
            <h5>(Monday-Friday) ... 8AM-20PM</h5>
            <h5>Sunday ... 12PM-20PM</h5>
        </li>
        <li>
            <h5>phone </h5>
            <h5>email</h5>
            <h5>social media</h5>
        </li>
        
    </ul>
</footer>

{% endblock content %}
