{% extends 'home/base.html' %}
{% load static %}
<link rel="stylesheet" href={% static "CSS/styles.css" %}>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
<h1>
        
{% if user.is_authenticated %}Choose the coffee you like ,  {{ user.username }}.{% endif %}

</h1>




  
<nav>

    <h1><a href="{% url "home" %}">
            <h1>Coffee Beans Shop</h1>
        </a></h1>
    <ul>
        <li></li>
        <li><a href="{% url "about" %}">About Us</a></li>
        <li><a href="{% url "login" %}">Login</a></li>
        <li><a href="{% url "register" %}">Create an account</a></li>
        
        <li></li>
    </ul>

</nav>
<div class="partition" style="position: absolute;top: 30%;width: 100%;">
    {% for pro in products %}
    <tr>

        <td>{{ pro.name }}</td>
        <td>*********price:</td>
        <td>{{ pro.price }}</td>
        <td>*********quantity in stock : </td>
        <td>{{ pro.stock }}</t  d>
        
            <form  method="post">
                {% csrf_token %}
                <input type="submit" value="add to cart" class="btn btn-outline-light">
            </form>
        
        
        <hr>
    </tr>
{% endfor %}
</div>




<footer>
    <ul>
        <li>
            <h4>OPENNING HOURS</h4>
            <h5>(Monday-Friday) ... 8AM-20PM</h5>
            <h5>Sunday ... 12PM-20PM</h5>
        </li>
        <li>
            <h5>phone </h5>
            <h5>email</h5>
            <h5>social media</h5>
        </li>
        
    </ul>
</footer>
{% endblock content %}




    


</body>
</html>
